* {
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: (internal value);
    text-decoration: none;
    cursor: default;
}

a:link:active, a:visited:active {
    color: white
}

.body {
    background-color: rgb(143, 58, 255);
}

.gridWeb {
    display: grid;
    grid-template: auto auto auto auto auto auto auto auto auto auto / 33% 33% 33%;
    grid-template-areas: "header header header"
    "navbar navbar navbar"
    "mainfoto mainfoto mainfoto"
    "centeropt centeropt centeropt"
    "izqfoto cenfoto derfoto"
    "prefooterr3 prefooterr7 prefooterr1"
    "webmapizq webmapcen webmapder"
    "loadingbar loadingbar loadingbar"
    "footer footer footer"
    "loadingbar2 loadingbar2 loadingbar2";
    align-content: center;
}

.header {grid-area: header; 
    background-color: #1e01d8dc;
    border: 1px solid;
    margin-bottom: 0.5%;
    border-radius: 0.3em;
    color: rgb(255, 255, 255);
    font-size: 1em;
    padding-left: 0.7em;
}

.navbar {grid-area: navbar;
    background-color: #1e01d8dc;
    border: 1px solid;
    border-radius: 0.3em;
}
.mainfoto {
    grid-area: mainfoto;
    width: auto;
    height: auto;
    margin: 5px auto 0;
    overflow: hidden;
}

.mainfoto ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.mainfoto li {
    list-style: none;
    width: 100%;
}

.mainfoto img {
    width: 100%;
}

img {
    border-radius: 5px;
    width: 100%;
    max-width: auto;
}

.centeropt {grid-area: centeropt;
    border: 1px solid green;
    background-color: rgb(17, 0, 255);
    border-radius: 0.3em;
}

.izqfoto {grid-area: izqfoto;
    padding-top: 2%;
    margin: 1%;
}
.cenfoto {grid-area: cenfoto;
    padding-top: 2%;
    margin: 1%;
}
.derfoto {grid-area: derfoto;
    padding-top: 2%;
    margin: 1%;
}

.prefooterr3 {grid-area: prefooterr3;
    margin-bottom: 3%;
    text-align: center;
}

.prefooterr7 {grid-area: prefooterr7;
    margin-bottom: 3%;
    text-align: center;
}

.prefooterr1 {grid-area: prefooterr1;
    margin-bottom: 3%;
    text-align: center;
}

.webmapizq {grid-area: webmapizq;
    background-color: cornflowerblue;
    margin-bottom: 3%;
    padding-bottom: 10%;
    border-radius: 0.5em;
}
.webmapcen {grid-area: webmapcen;
    background-color: cornflowerblue;
    margin-bottom: 3%;
    padding-bottom: 10%;
    border-radius: 0.5em;
}
.webmapder {grid-area: webmapder;
    background-color: cornflowerblue;
    text-align: left;
    margin-bottom: 3%;
    padding-bottom: 10%;
    border-radius: 0.5em;
}

.footer {
    grid-area: footer;
    background-color: rgb(32, 36, 255);
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 0.3em;
}

.loadingbar {
        /* relative: igual que el estático pero
        depende de las propiedades top, bottom, etc. */
        grid-area: loadingbar;
        position: relative;
        width: 50px;
        height: 5px;
        animation-name: loading;
        animation-duration: 2s;
        animation-iteration-count: infinite;
}

.loadingbar2 {
    /* relative: igual que el estático pero
    depende de las propiedades top, bottom, etc. */
    grid-area: loadingbar2;
    position: relative;
    width: 50px;
    height: 5px;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
    
@keyframes loading {
        0% {
            background-color: rgb(52, 6, 255);
            width: 0%;
        }

        100% {
            background-color: rgb(25, 0, 255);
            width: 100%;
        }
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}

body div.header {
    place-content: flex-start;
}

body div.header nav {
    width: 70%;
    display: flex;
    place-content: space-between;
}

#menu, #menu-check {
    display: none;
}

@media only screen and (max-width: 1920px) {
    body div.header, body div.header ul, body div.header ul li {
        display: inline;
    }
    body div.header nav {
        width: 100%;
        display: inline;
    }
}

@media only screen and (max-width: 500px) {
    
    body div.header {
        display: flex;
        place-content: space-between;
    }
    #menu-check:not(:checked) ~ nav {
        display: none;
    }
    #menu-check:checked ~ nav {
        display: block;
    }
    #menu {
        display: block;
        color:rgb(255, 255, 255);
        background: #0c77be;
        font-size: 1.2em;
        font-weight: bold;
        border: 3px solid white;
        border-radius: 0.3em;
        position: absolute;
        right: 0.5em;
        top: 0.4em;
        z-index: 9999;
    }
    #menu:hover {
        color: #0c77be;
        background: rgb(255, 255, 255);
    }

    #menu-cerrar {
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }

    body div.header nav {
        position:absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: rgb(111, 76, 236);
        padding-top: 0.5em;
        padding-right: 1.5em;
        opacity: 0.8;
        color: rgb(255, 255, 255);
        font-size: 1.4em;
    }

    body div.header nav ul a {
        color: white;
        background: none;    
    }

    body div.header nav ul, body div.header nav ul li {
        display: block;
        text-align: right;
    }

    .gridWeb {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "header" 
        "navbar"
        "mainfoto"
        "centeropt"
        "izqfoto"
        "prefooterr3"
        "cenfoto"
        "prefooterr7"
        "derfoto"
        "prefooterr1"
        "webmapizq"
        "webmapcen"
        "webmapder"
        "loadingbar"
        "footer"
        "loadingbar2";
        align-content: center;
        }
    
    .gridWeb .izqfoto {
        width: 25em;
        padding-left: 10px;
    }

    .gridWeb .cenfoto {
        width: 25em;
        padding-left: 10px;
    }

    .gridWeb .derfoto {
        width: 25em;
        padding-left: 10px;
    }

    .gridWeb .webmapizq {
        padding: 1%
    }

    .gridWeb .webmapcen {
        padding: 1%
    }

    .gridWeb .webmapder {
        padding: 1%
    }

    .navbar {
        font-size: 0.8em;
        padding-top: 0.4em;
    }
}